.container{
    display:flex;
    flex-direction: column;
    border: 3px solid gray;
    width:250px;
    height:400px;
    justify-content: flex-end; 
    align-items: center;    
}
.calculator{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom :20px;
}

.calInput{
    border: 1px solid gray;
    width:212px;
    height:30px;
    margin-bottom : 5px;
    text-align: right;
    font-size:20px;
}

.calOutput{
    width:212px;
    height:50px;
    margin-bottom:5px;
    border: 1px solid gray;
    font-size:20px;
    text-align: center;
}

.col{
    display: flex;
    align-items: center;
    justify-content: center;
    width:50px;
    height:50px;
    margin: 0 1px;
    border-radius: 25px;
    border:1px solid gray;
}
.row{
    margin:1px;
    display:flex;
    text-align: center;
}